unpackaged/main/default/flows/AccountProcessUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Same_Address_As_Head_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Account</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Same Address as Head Office?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Account</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Account Active</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.County__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Updating Region by County</label>
        </rules>
    </decisions>
    <description>Account process for any record changes</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(
[Account].County__c,  
&quot;Aberdeenshire&quot;, &quot;Scotland&quot;,
&quot;Angus&quot;, &quot;Scotland&quot;,
&quot;Antrim&quot;, &quot;Northern Ireland&quot;,
&quot;Argyll &amp; Bute&quot;, &quot;Scotland&quot;,
&quot;Armagh&quot;, &quot;Northern Ireland&quot;,
&quot;Ayrshire&quot;, &quot;Scotland&quot;,
&quot;Banffshire&quot;, &quot;Scotland&quot;,
&quot;Bath and North East Somerset&quot;, &quot;South West&quot;,
&quot;Bedfordshire&quot;, &quot;East of England&quot;,
&quot;Berkshire&quot;, &quot;South East&quot;,
&quot;Berwickshire&quot;, &quot;Scotland&quot;,
&quot;Blaenau Gwent&quot;, &quot;Wales&quot;,
&quot;Borders&quot;, &quot;Scotland&quot;,
&quot;Bridgend&quot;, &quot;Wales&quot;,
&quot;Bristol&quot;, &quot;South West&quot;,
&quot;Buckinghamshire&quot;, &quot;South East&quot;,
&quot;Caerphilly&quot;, &quot;Wales&quot;, 
&quot;Caithness&quot;, &quot;Scotland&quot;,
&quot;Cambridgeshire&quot;, &quot;East of England&quot;,
&quot;Cardiff&quot;, &quot;Wales&quot;,
&quot;Carmarthenshire&quot;, &quot;Wales&quot;,
&quot;Ceredigion&quot;, &quot;Wales&quot;,
&quot;Cheshire&quot;, &quot;North West&quot;,
&quot;Clackmannanshire&quot;, &quot;Scotland&quot;,
&quot;Clwyd&quot;, &quot;Wales&quot;,
&quot;Conwy&quot;, &quot;Wales&quot;,
&quot;Cornwall&quot;, &quot;South West&quot;,
&quot;County Durham&quot;, &quot;North East&quot;,
&quot;Cumbria&quot;, &quot;North West&quot;,
&quot;Denbighshire&quot;, &quot;Wales&quot;,
&quot;Derbyshire&quot;, &quot;East Midlands&quot;,
&quot;Devon&quot;, &quot;South West&quot;,
&quot;Down&quot;, &quot;Northern Ireland&quot;,
&quot;Dorset&quot;, &quot;South West&quot;,
&quot;Dumfries &amp; Galloway&quot;, &quot;Scotland&quot;,
&quot;Dunbartonshire&quot;, &quot;Scotland&quot;,
&quot;East Ayrshire&quot;, &quot;Scotland&quot;,
&quot;East Dunbartonshire&quot;, &quot;Scotland&quot;,
&quot;East Lothian&quot;, &quot;Scotland&quot;,
&quot;East Renfrewshire&quot;, &quot;Scotland&quot;,
&quot;East Riding of Yorkshire&quot;, &quot;Yorkshire and the Humber&quot;,
&quot;East Sussex&quot;, &quot;South East&quot;,
&quot;Essex&quot;, &quot;East of England&quot;, 
&quot;Fermanagh&quot;, &quot;Northern Ireland&quot;,
&quot;Fife&quot;, &quot;Scotland&quot;,
&quot;Flintshire&quot;, &quot;Wales&quot;,
&quot;Gloucestershire&quot;, &quot;South West&quot;,
&quot;Greater London&quot;, &quot;London&quot;,
&quot;Greater Manchester&quot;, &quot;North West&quot;,
&quot;Gwynedd&quot;, &quot;Wales&quot;,
&quot;Hampshire&quot;, &quot;South East&quot;,
&quot;Herefordshire&quot;, &quot;West Midlands&quot;,
&quot;Hertfordshire&quot;, &quot;South East&quot;,
&quot;Highland&quot;, &quot;Scotland&quot;,
&quot;Inverclyde&quot;, &quot;Scotland&quot;,
&quot;Inverness-shire&quot;, &quot;Scotland&quot;,
&quot;Isle of Anglesey&quot;, &quot;Wales&quot;,
&quot;Isle of Skye&quot;, &quot;Scotland&quot;,
&quot;Isle of Wight&quot;, &quot;South East&quot;,
&quot;Isles of Scilly&quot;, &quot;South West&quot;,
&quot;Kent&quot;, &quot;South East&quot;,
&quot;Kincardineshire&quot;, &quot;Scotland&quot;,
&quot;Lanarkshire&quot;, &quot;Scotland&quot;,
&quot;Lancashire&quot;, &quot;North West&quot;,
&quot;Leicestershire&quot;, &quot;East Midlands&quot;,
&quot;Lincolnshire&quot;, &quot;East Midlands&quot;,
&quot;Londonderry&quot;, &quot;Northern Ireland&quot;,
&quot;Merseyside&quot;, &quot;North West&quot;,
&quot;Merthyr Tydfil&quot;, &quot;Wales&quot;,
&quot;Mid Glamorgan&quot;, &quot;Wales&quot;,
&quot;Midlothian&quot;, &quot;Scotland&quot;,
&quot;Monmouthshire&quot;, &quot;Wales&quot;,
&quot;Moray&quot;, &quot;Scotland&quot;,
&quot;Neath Port Talbot&quot;, &quot;Wales&quot;,
&quot;Newport&quot;, &quot;Wales&quot;,
&quot;Norfolk&quot;, &quot;East of England&quot;,
&quot;North Ayrshire&quot;, &quot;Scotland&quot;,
&quot;North Lanarkshire&quot;, &quot;Scotland&quot;,
&quot;North Somerset&quot;, &quot;South West&quot;,
&quot;North Yorkshire&quot;, &quot;Yorkshire and the Humber&quot;,
&quot;Northamptonshire&quot;, &quot;East Midlands&quot;,
&quot;Northumberland&quot;, &quot;North East&quot;,
&quot;Nottinghamshire&quot;, &quot;East Midlands&quot;,
&quot;Orkney&quot;, &quot;Scotland&quot;,
&quot;Oxfordshire&quot;, &quot;South East&quot;,
&quot;Pembrokeshire&quot;, &quot;Wales&quot;,
&quot;Perth &amp; Kinross&quot;, &quot;Scotland&quot;,
&quot;Powys&quot;, &quot;Wales&quot;,
&quot;Renfrewshire&quot;, &quot;Scotland&quot;,
&quot;Rhondda Cynon Taff&quot;, &quot;Wales&quot;,
&quot;Ross-shire&quot;, &quot;Scotland&quot;,
&quot;Roxburghshire&quot;, &quot;Scotland&quot;,
&quot;Rutland&quot;, &quot;East Midlands&quot;,
&quot;Shetland&quot;, &quot;Scotland&quot;,
&quot;Shropshire&quot;, &quot;West Midlands&quot;,
&quot;Somerset&quot;, &quot;South West&quot;,
&quot;South Ayrshire&quot;, &quot;Scotland&quot;,
&quot;South Gloucestershire&quot;, &quot;South West&quot;,
&quot;South Lanarkshire&quot;, &quot;Scotland&quot;,
&quot;South Yorkshire&quot;, &quot;Yorkshire and the Humber&quot;,
&quot;Staffordshire&quot;, &quot;West Midlands&quot;,
&quot;Stirlingshire&quot;, &quot;Scotland&quot;,
&quot;Suffolk&quot;, &quot;East of England&quot;,
&quot;Surrey&quot;, &quot;South East&quot;,
&quot;Swansea&quot;, &quot;Wales&quot;,
&quot;Torfaen&quot;, &quot;Wales&quot;,
&quot;Tyne &amp; Wear&quot;, &quot;North East&quot;,
&quot;Tyrone&quot;, &quot;Northern Ireland&quot;,
&quot;Vale of Glamorgan&quot;, &quot;Wales&quot;,
&quot;Warwickshire&quot;, &quot;West Midlands&quot;,
&quot;West Dunbartonshire&quot;, &quot;Scotland&quot;,
&quot;West Lothian&quot;, &quot;Scotland&quot;,
&quot;West Midlands&quot;, &quot;West Midlands&quot;,
&quot;West Sussex&quot;, &quot;South East&quot;,
&quot;West Yorkshire&quot;, &quot;Yorkshire and the Humber&quot;,
&quot;Western Isles&quot;, &quot;Scotland&quot;,
&quot;Wiltshire&quot;, &quot;South West&quot;,
&quot;Worcestershire&quot;, &quot;West Midlands&quot;,
&quot;Wrexham&quot;, &quot;Wales&quot;,

&quot;&quot;
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_4451334948</name>
        <dataType>String</dataType>
        <expression>CASE(
{!myVariable_current.County__c},  
&quot;Aberdeenshire&quot;, &quot;Scotland&quot;,
&quot;Angus&quot;, &quot;Scotland&quot;,
&quot;Antrim&quot;, &quot;Northern Ireland&quot;,
&quot;Argyll &amp; Bute&quot;, &quot;Scotland&quot;,
&quot;Armagh&quot;, &quot;Northern Ireland&quot;,
&quot;Ayrshire&quot;, &quot;Scotland&quot;,
&quot;Banffshire&quot;, &quot;Scotland&quot;,
&quot;Bath and North East Somerset&quot;, &quot;South West&quot;,
&quot;Bedfordshire&quot;, &quot;East of England&quot;,
&quot;Berkshire&quot;, &quot;South East&quot;,
&quot;Berwickshire&quot;, &quot;Scotland&quot;,
&quot;Blaenau Gwent&quot;, &quot;Wales&quot;,
&quot;Borders&quot;, &quot;Scotland&quot;,
&quot;Bridgend&quot;, &quot;Wales&quot;,
&quot;Bristol&quot;, &quot;South West&quot;,
&quot;Buckinghamshire&quot;, &quot;South East&quot;,
&quot;Caerphilly&quot;, &quot;Wales&quot;, 
&quot;Caithness&quot;, &quot;Scotland&quot;,
&quot;Cambridgeshire&quot;, &quot;East of England&quot;,
&quot;Cardiff&quot;, &quot;Wales&quot;,
&quot;Carmarthenshire&quot;, &quot;Wales&quot;,
&quot;Ceredigion&quot;, &quot;Wales&quot;,
&quot;Cheshire&quot;, &quot;North West&quot;,
&quot;Clackmannanshire&quot;, &quot;Scotland&quot;,
&quot;Clwyd&quot;, &quot;Wales&quot;,
&quot;Conwy&quot;, &quot;Wales&quot;,
&quot;Cornwall&quot;, &quot;South West&quot;,
&quot;County Durham&quot;, &quot;North East&quot;,
&quot;Cumbria&quot;, &quot;North West&quot;,
&quot;Denbighshire&quot;, &quot;Wales&quot;,
&quot;Derbyshire&quot;, &quot;East Midlands&quot;,
&quot;Devon&quot;, &quot;South West&quot;,
&quot;Down&quot;, &quot;Northern Ireland&quot;,
&quot;Dorset&quot;, &quot;South West&quot;,
&quot;Dumfries &amp; Galloway&quot;, &quot;Scotland&quot;,
&quot;Dunbartonshire&quot;, &quot;Scotland&quot;,
&quot;East Ayrshire&quot;, &quot;Scotland&quot;,
&quot;East Dunbartonshire&quot;, &quot;Scotland&quot;,
&quot;East Lothian&quot;, &quot;Scotland&quot;,
&quot;East Renfrewshire&quot;, &quot;Scotland&quot;,
&quot;East Riding of Yorkshire&quot;, &quot;Yorkshire and the Humber&quot;,
&quot;East Sussex&quot;, &quot;South East&quot;,
&quot;Essex&quot;, &quot;East of England&quot;, 
&quot;Fermanagh&quot;, &quot;Northern Ireland&quot;,
&quot;Fife&quot;, &quot;Scotland&quot;,
&quot;Flintshire&quot;, &quot;Wales&quot;,
&quot;Gloucestershire&quot;, &quot;South West&quot;,
&quot;Greater London&quot;, &quot;London&quot;,
&quot;Greater Manchester&quot;, &quot;North West&quot;,
&quot;Gwynedd&quot;, &quot;Wales&quot;,
&quot;Hampshire&quot;, &quot;South East&quot;,
&quot;Herefordshire&quot;, &quot;West Midlands&quot;,
&quot;Hertfordshire&quot;, &quot;South East&quot;,
&quot;Highland&quot;, &quot;Scotland&quot;,
&quot;Inverclyde&quot;, &quot;Scotland&quot;,
&quot;Inverness-shire&quot;, &quot;Scotland&quot;,
&quot;Isle of Anglesey&quot;, &quot;Wales&quot;,
&quot;Isle of Skye&quot;, &quot;Scotland&quot;,
&quot;Isle of Wight&quot;, &quot;South East&quot;,
&quot;Isles of Scilly&quot;, &quot;South West&quot;,
&quot;Kent&quot;, &quot;South East&quot;,
&quot;Kincardineshire&quot;, &quot;Scotland&quot;,
&quot;Lanarkshire&quot;, &quot;Scotland&quot;,
&quot;Lancashire&quot;, &quot;North West&quot;,
&quot;Leicestershire&quot;, &quot;East Midlands&quot;,
&quot;Lincolnshire&quot;, &quot;East Midlands&quot;,
&quot;Londonderry&quot;, &quot;Northern Ireland&quot;,
&quot;Merseyside&quot;, &quot;North West&quot;,
&quot;Merthyr Tydfil&quot;, &quot;Wales&quot;,
&quot;Mid Glamorgan&quot;, &quot;Wales&quot;,
&quot;Midlothian&quot;, &quot;Scotland&quot;,
&quot;Monmouthshire&quot;, &quot;Wales&quot;,
&quot;Moray&quot;, &quot;Scotland&quot;,
&quot;Neath Port Talbot&quot;, &quot;Wales&quot;,
&quot;Newport&quot;, &quot;Wales&quot;,
&quot;Norfolk&quot;, &quot;East of England&quot;,
&quot;North Ayrshire&quot;, &quot;Scotland&quot;,
&quot;North Lanarkshire&quot;, &quot;Scotland&quot;,
&quot;North Somerset&quot;, &quot;South West&quot;,
&quot;North Yorkshire&quot;, &quot;Yorkshire and the Humber&quot;,
&quot;Northamptonshire&quot;, &quot;East Midlands&quot;,
&quot;Northumberland&quot;, &quot;North East&quot;,
&quot;Nottinghamshire&quot;, &quot;East Midlands&quot;,
&quot;Orkney&quot;, &quot;Scotland&quot;,
&quot;Oxfordshire&quot;, &quot;South East&quot;,
&quot;Pembrokeshire&quot;, &quot;Wales&quot;,
&quot;Perth &amp; Kinross&quot;, &quot;Scotland&quot;,
&quot;Powys&quot;, &quot;Wales&quot;,
&quot;Renfrewshire&quot;, &quot;Scotland&quot;,
&quot;Rhondda Cynon Taff&quot;, &quot;Wales&quot;,
&quot;Ross-shire&quot;, &quot;Scotland&quot;,
&quot;Roxburghshire&quot;, &quot;Scotland&quot;,
&quot;Rutland&quot;, &quot;East Midlands&quot;,
&quot;Shetland&quot;, &quot;Scotland&quot;,
&quot;Shropshire&quot;, &quot;West Midlands&quot;,
&quot;Somerset&quot;, &quot;South West&quot;,
&quot;South Ayrshire&quot;, &quot;Scotland&quot;,
&quot;South Gloucestershire&quot;, &quot;South West&quot;,
&quot;South Lanarkshire&quot;, &quot;Scotland&quot;,
&quot;South Yorkshire&quot;, &quot;Yorkshire and the Humber&quot;,
&quot;Staffordshire&quot;, &quot;West Midlands&quot;,
&quot;Stirlingshire&quot;, &quot;Scotland&quot;,
&quot;Suffolk&quot;, &quot;East of England&quot;,
&quot;Surrey&quot;, &quot;South East&quot;,
&quot;Swansea&quot;, &quot;Wales&quot;,
&quot;Torfaen&quot;, &quot;Wales&quot;,
&quot;Tyne &amp; Wear&quot;, &quot;North East&quot;,
&quot;Tyrone&quot;, &quot;Northern Ireland&quot;,
&quot;Vale of Glamorgan&quot;, &quot;Wales&quot;,
&quot;Warwickshire&quot;, &quot;West Midlands&quot;,
&quot;West Dunbartonshire&quot;, &quot;Scotland&quot;,
&quot;West Lothian&quot;, &quot;Scotland&quot;,
&quot;West Midlands&quot;, &quot;West Midlands&quot;,
&quot;West Sussex&quot;, &quot;South East&quot;,
&quot;West Yorkshire&quot;, &quot;Yorkshire and the Humber&quot;,
&quot;Western Isles&quot;, &quot;Scotland&quot;,
&quot;Wiltshire&quot;, &quot;South West&quot;,
&quot;Worcestershire&quot;, &quot;West Midlands&quot;,
&quot;Wrexham&quot;, &quot;Wales&quot;,

&quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>AccountProcessUpdate-7_InterviewLabel</interviewLabel>
    <label>AccountProcessUpdate</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Address to head office address</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BillingCity</field>
            <value>
                <elementReference>myVariable_current.Parent.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BillingCountry</field>
            <value>
                <elementReference>myVariable_current.Parent.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>myVariable_current.Parent.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>State/Province Code</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BillingStateCode</field>
            <value>
                <elementReference>myVariable_current.Parent.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Street</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BillingStreet</field>
            <value>
                <elementReference>myVariable_current.Parent.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Certificate Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Certificate_Address__c</field>
            <value>
                <elementReference>myVariable_current.Parent.Certificate_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>County</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>County__c</field>
            <value>
                <elementReference>myVariable_current.Parent.County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Invoice Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Invoice_Address__c</field>
            <value>
                <elementReference>myVariable_current.Parent.Invoice_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Postal Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Postal_Address__c</field>
            <value>
                <elementReference>myVariable_current.Parent.Postal_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Region__c</field>
            <value>
                <elementReference>myVariable_current.Parent.Region__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account].Parent Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Make parent Active</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Active</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Region</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Region__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_4451334948</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
