unpackaged/main/default/flows/Account_Before_Save_Create_Or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Active</name>
        <label>Set Active</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Inactive_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inactive</name>
        <label>Set Inactive</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Inactive_decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Inactive_decision</name>
        <label>Account Inactive decision</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Billing_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_to_Active</targetReference>
            </connector>
            <label>Account Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Country</name>
        <label>Billing Country?</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>General_Export_Customers_Tax_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corby Rock Eggs Ltd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_Customers_Tax_Group</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_site_status_changed</name>
        <label>Is site status changed</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Account_Inactive_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_is_inactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INACTIVE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inactive</targetReference>
            </connector>
            <label>Site is inactivated</label>
        </rules>
        <rules>
            <name>Site_is_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MEMBER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INACTIVE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active</targetReference>
            </connector>
            <label>Site is activated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Before Save Create Or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Before Save Create Or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>General_Export_Customers_Tax_Group</name>
        <label>General Export Customers Tax Group</label>
        <locationX>446</locationX>
        <locationY>995</locationY>
        <inputAssignments>
            <field>Tax_Group__c</field>
            <value>
                <stringValue>General Export customers</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UK_Customers_Tax_Group</name>
        <label>UK Customers Tax Group</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <inputAssignments>
            <field>Tax_Group__c</field>
            <value>
                <stringValue>UK customers</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_to_Active</name>
        <label>Update Account to Active</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Billing_Country</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_site_status_changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
