unpackaged/main/default/flows/Additional_Visit_Reviewing_Manager_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Additional_Visit_email_to_users</name>
        <label>Send Additional Visit Complete email to users</label>
        <locationX>523</locationX>
        <locationY>3539</locationY>
        <actionName>Application__c.Additional_Visit_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_allocated_assessor</name>
        <label>Send email to allocated assessor</label>
        <locationX>523</locationX>
        <locationY>3239</locationY>
        <actionName>Application__c.Additional_Visit_Allocation_Status_Accepted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Additional_Visit_Completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Application_Units</name>
        <label>Add Application Units</label>
        <locationX>468</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ApplicationUnits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Unit</name>
        <label>Assign Application Unit</label>
        <locationX>468</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ApplicationUnit.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Units.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationUnit.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationUnit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Units.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Application_Units</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Visit_Completed</name>
        <label>Additional Visit Completed</label>
        <locationX>655</locationX>
        <locationY>3431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Report_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Additional_Visit_email_to_users</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Report added</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Additional Visit has been created or it already existed and has been updated.</description>
        <name>Additional_Visit_created_or_updated</name>
        <label>Additional Visit created or updated</label>
        <locationX>655</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Evidence_Not_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Units</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evidence_Not_Required</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Certifier_Approved</name>
        <label>Certifier approved</label>
        <locationX>655</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Minimumfieldsarepopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Certifier_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_name_and_date_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Application_Units_Size</name>
        <label>Check Application Units Size</label>
        <locationX>380</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Is_primary_contact_blank_on_site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationUnits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application_Units</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sanction_Head_Office_Not_null</name>
        <label>Check Sanction Head Office Not null</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Head_office_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sanction__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction__r.Site_Under_Sanction__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanction__r.Site_Under_Sanction__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact_Head_Office</targetReference>
            </connector>
            <label>Head office not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evidence_Not_Required</name>
        <label>Evidence Not Required</label>
        <locationX>655</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Stage_moved_to_review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Assessor_Approval</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Evidence_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Evidence_Required__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_By_Assessor</targetReference>
            </connector>
            <label>Update Assessor Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_primary_contact_blank_on_site</name>
        <label>Is primary contact blank on site?</label>
        <locationX>380</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Evidence_Not_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__r.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sanction_Head_Office_Not_null</targetReference>
            </connector>
            <label>Contact exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Minimumfieldsarepopulated</name>
        <label>Minimum fields are populated</label>
        <locationX>655</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Additional_Visit_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_fields_are_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_for_Visit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Further_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Allocated_Inspector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Visit_Deadline__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reviewing_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Check__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Allocation_Status_to_Accepted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes fields are populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Office_approved</name>
        <label>Office approved</label>
        <locationX>655</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Certifier_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Office_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_name_and_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_moved_to_review</name>
        <label>Stage moved to review</label>
        <locationX>655</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Office_approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_approvals</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Review stage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Additional Visit Reviewing Manager Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additional Visit Create and Edit Flow</label>
    <loops>
        <name>Iterate_Units</name>
        <label>Iterate Units</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Units</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Unit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Application_Units_Size</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Units</name>
        <label>Create Application Units</label>
        <locationX>248</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Is_primary_contact_blank_on_site</targetReference>
        </connector>
        <inputReference>ApplicationUnits</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Units</name>
        <label>Get Units</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Approved_By_Assessor</name>
        <label>Approved By Assessor</label>
        <locationX>523</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>Stage_moved_to_review</targetReference>
        </connector>
        <inputAssignments>
            <field>Add_Visit_Approval_Date_inspector__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Visit_approved_by_inspector__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence__c</field>
            <value>
                <stringValue>None Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pending_approvals</name>
        <label>Pending approvals</label>
        <locationX>523</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Office_approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Certifier_Approved__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Approved__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Allocation_Status_to_Accepted</name>
        <label>Update Allocation Status to Accepted and Update Stage</label>
        <locationX>523</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>Send_email_to_allocated_assessor</targetReference>
        </connector>
        <inputAssignments>
            <field>Allocation_Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_name_and_date</name>
        <label>Update name and date</label>
        <locationX>523</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Certifier_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Add_Visit_Approval_Date_Office__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Visit_Approved_By_Office__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_name_and_date_0</name>
        <label>Update name and date</label>
        <locationX>523</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>Minimumfieldsarepopulated</targetReference>
        </connector>
        <inputAssignments>
            <field>Add_Visit_Approved_By_Certifier__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Visits_Approval_Date_Certifier__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Evidence_Not_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Site__r.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact_Head_Office</name>
        <label>Update Primary Contact &amp; Head Office</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Evidence_Not_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Site__r.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_Office__c</field>
            <value>
                <elementReference>$Record.Sanction__r.Site_Under_Sanction__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>529</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Additional_Visit_created_or_updated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>Contains</operator>
            <value>
                <stringValue>0122p000000OZLz</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120D0000009nGWQAY</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Unit__c</objectType>
    </variables>
    <variables>
        <name>ApplicationUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Unit__c</objectType>
    </variables>
</Flow>
