unpackaged/main/default/flows/Application_Before_Create_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Open_Application_Count</name>
        <label>Assign Open Application Count</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>openApplicationSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Assessment_Deadline_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assessment_Deadline_Date</name>
        <label>Set Assessment Deadline Date</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assessment_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deadlineDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Pricebook_Id_Populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Renewal</name>
        <label>Check Renewal</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_Pricebook_Id_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Assessment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applications</targetReference>
            </connector>
            <label>Renewals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_Id_Populated</name>
        <label>Is Pricebook Id Populated?</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricebook_Id_is_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_Id_with_Membership_Pricebook</targetReference>
            </connector>
            <label>Pricebook Id is not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Assessment_Date</name>
        <label>Previous Assessment Date</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__r.Previous_Assessment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Assessment_Date</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Flow that handles automations for Applications before record is inserted.</description>
    <environments>Default</environments>
    <formulas>
        <name>deadlineDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Previous_Assessment_Date__c},(({!openApplicationSize}+1) * 14))</expression>
    </formulas>
    <interviewLabel>Application Before Create Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Before Create Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Applications</name>
        <label>Get Applications</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Open_Application_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calculated_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Previous_Assessment_Date</name>
        <label>Update Previous Assessment Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Renewal</targetReference>
        </connector>
        <inputAssignments>
            <field>Previous_Assessment_Date__c</field>
            <value>
                <elementReference>$Record.Site__r.Previous_Assessment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Pricebook Id with Membership Pricebook from Custom Setting.</description>
        <name>Update_Pricebook_Id_with_Membership_Pricebook</name>
        <label>Update Pricebook Id with Membership Pricebook</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <inputAssignments>
            <field>Pricebook_Id__c</field>
            <value>
                <elementReference>$Setup.Membership_Pricebook__c.Price_Book_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Previous_Assessment_Date</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>openApplicationSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
