unpackaged/main/default/flows/Application_Before_Create_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Approved_By_Certifier_Yes</name>
        <label>Approved By Certifier</label>
        <locationX>50</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Certifier_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Add_Visit_approved_by_inspector</name>
        <label>Assign Add. Visit approved by (inspector)</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Add_Visit_approved_by_inspector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Add_Visit_Approval_Date_inspector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Add_Visit_Approved_By_Certifier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Visit_Approved_By_Office</name>
        <label>Assign Add. Visit Approved By (Office)</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Add_Visit_Approval_Date_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Add_Visit_Approved_By_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Add_Visit_approved_by_inspector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Visits_Approval_Certifier</name>
        <label>Assign Add. Visits Approval (Certifier)</label>
        <locationX>50</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.Add_Visits_Approval_Date_Certifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Add_Visit_Approved_By_Certifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Add_Visit_Approved_By_Office_Not_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Open_Application_Count</name>
        <label>Assign Open Application Count</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>openApplicationSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Assessment_Deadline_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Office_Approved</name>
        <label>Office Approved</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Office_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Add_Visit_Approved_By_Certifier_Not_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Application_Type_To_Additional_Visit</name>
        <label>Set Application Type To Additional Visit</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional Visit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Additional_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Allocation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Visit_date_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assessment_Deadline_Date</name>
        <label>Set Assessment Deadline Date</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assessment_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deadlineDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Pricebook_Id_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Evidence_Deadline</name>
        <label>Set Evidence Deadline</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Evidence_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvidenceDeadlineDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Assessment_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Add_Visit_Approved_By_Certifier</name>
        <label>Check Add. Visit Approved By (Certifier)</label>
        <locationX>182</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Check_Add_Visit_Approved_By_Office_Not_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Visit_Approved_By_Certifier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_Visit_Approved_By_Certifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_Visits_Approval_Date_Certifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Add_Visits_Approval_Certifier</targetReference>
            </connector>
            <label>Add. Visit Approved By (Certifier)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Add_Visit_Approved_By_Certifier_Not_Empty</name>
        <label>Check Add. Visit Approved By Certifier Not Empty</label>
        <locationX>182</locationX>
        <locationY>3503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_By_Certifier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_Visit_Approved_By_Certifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_Visits_Approval_Date_Certifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_By_Certifier_Yes</targetReference>
            </connector>
            <label>Approved By (Certifier)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Add_Visit_approved_by_inspector</name>
        <label>Check Add. Visit approved by (inspector)</label>
        <locationX>182</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>Check_Add_Visit_Approved_By_Certifier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Visit_approved_by_inspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_Visit_approved_by_inspector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_Visit_Approval_Date_inspector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Add_Visit_approved_by_inspector</targetReference>
            </connector>
            <label>Add. Visit approved by (inspector)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Add_Visit_Approved_By_Office</name>
        <label>Check Add. Visit Approved By (Office)</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Check_Add_Visit_approved_by_inspector</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Visit_Approved_By_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_Visit_Approved_By_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_Visit_Approval_Date_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Add_Visit_Approved_By_Office</targetReference>
            </connector>
            <label>Add. Visit Approved By (Office)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Add_Visit_Approved_By_Office_Not_Empty</name>
        <label>Check Add. Visit Approved By Office Not Empty</label>
        <locationX>182</locationX>
        <locationY>3203</locationY>
        <defaultConnector>
            <targetReference>Check_Add_Visit_Approved_By_Certifier_Not_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_By_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_Visit_Approved_By_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_Visit_Approval_Date_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Office_Approved</targetReference>
            </connector>
            <label>Approved By (Office)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal</name>
        <label>Check Renewal</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Is_Pricebook_Id_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Assessment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applications</targetReference>
            </connector>
            <label>Renewals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evidence_Not_Required</name>
        <label>Evidence Not Required</label>
        <locationX>182</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Check_Add_Visit_Approved_By_Office</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Required</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Evidence_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Additional_Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Evidence_Required__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assessor_Approval</targetReference>
            </connector>
            <label>Not Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_Id_Populated</name>
        <label>Is Pricebook Id Populated?</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Evidence_Not_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricebook_Id_is_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_Id_with_Membership_Pricebook</targetReference>
            </connector>
            <label>Pricebook Id is not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_record_type_equals_additional_visit</name>
        <label>Is record type equals additional visit</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Visit_date_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Visit</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional_Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_Type_To_Additional_Visit</targetReference>
            </connector>
            <label>Additional Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Visit_date_not_null</name>
        <label>Is Visit date not null</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Previous_Assessment_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_Date_Not_Null</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Visit_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Evidence_Deadline</targetReference>
            </connector>
            <label>Visit Date Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Assessment_Date</name>
        <label>Previous Assessment Date</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Check_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__r.Previous_Assessment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Assessment_Date</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Removed Process builder conversion and contains old logic and CR2 changes</description>
    <environments>Default</environments>
    <formulas>
        <name>deadlineDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Previous_Assessment_Date__c},(({!openApplicationSize}+1) * 14))</expression>
    </formulas>
    <formulas>
        <name>EvidenceDeadlineDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Visit_Date__c} + 28</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TotalAmountIncVAT</name>
        <dataType>Number</dataType>
        <expression>IF(({!$Record.Amount_Ex_VAT__c}+ {!VAT})- (FLOOR({!$Record.Amount_Ex_VAT__c}+ {!VAT})) &gt;= 0.5,({!$Record.Amount_Ex_VAT__c}+ {!VAT}),FLOOR(100*({!$Record.Amount_Ex_VAT__c}+ {!VAT}))/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VAT</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Head_Office__r.BillingCountry}= &#39;United Kingdom&#39;,
{!$Record.Amount_Ex_VAT__c}* 0.2,
0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Application Before Create Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Before Create Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Applications</name>
        <label>Get Applications</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Open_Application_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calculated_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessor_Approval</name>
        <label>Update Assessor Approval</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Check_Add_Visit_Approved_By_Office</targetReference>
        </connector>
        <inputAssignments>
            <field>Evidence_Approved_By_Assessor_Date__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Approved_By_Assessor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence__c</field>
            <value>
                <stringValue>None Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Assessment_Date</name>
        <label>Update Previous Assessment Date</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Check_Renewal</targetReference>
        </connector>
        <inputAssignments>
            <field>Previous_Assessment_Date__c</field>
            <value>
                <elementReference>$Record.Site__r.Previous_Assessment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Pricebook Id with Membership Pricebook from Custom Setting.</description>
        <name>Update_Pricebook_Id_with_Membership_Pricebook</name>
        <label>Update Pricebook Id with Membership Pricebook</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Evidence_Not_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook_Id__c</field>
            <value>
                <elementReference>$Setup.Membership_Pricebook__c.Price_Book_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_record_type_equals_additional_visit</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>openApplicationSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
