unpackaged/main/default/flows/Approve_Additional_Application_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Certifier</name>
        <choiceText>Certifier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certifier</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inspector</name>
        <choiceText>Inspector</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inspector</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office</name>
        <choiceText>Reviewing Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reviewing Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Who_Approved_Record</name>
        <label>Who Approved Record?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>CompleteApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OfficeSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_am_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Office</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Office_Approval_Stamps</targetReference>
            </connector>
            <label>Office</label>
        </rules>
        <rules>
            <name>InspectorSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_am_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inspector</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessor_Approval_Stamps</targetReference>
            </connector>
            <label>Inspector</label>
        </rules>
        <rules>
            <name>CertifierSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_am_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Certifier</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certifier_Approval_Stamps</targetReference>
            </connector>
            <label>Certifier</label>
        </rules>
    </decisions>
    <description>Approval Process for Additional Application</description>
    <environments>Default</environments>
    <formulas>
        <name>Certifier_User_id</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Certifier_User.Id}),{!$User.Id}, {!Get_Certifier_User.Id})</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Approve Application Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Additional Application Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_for_Certifier</name>
        <label>Create Task for Certifier</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Approval_Stage_Picklist_Pending_Certifier_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CertifierTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Certifier_User_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CertifierTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Inspector</name>
        <label>Create Task for Inspector</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Approval_Stage_Picklist_Pending_Inspector_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>InspectorTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.Allocated_Inspector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>InspectorTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Reviewing_Manager</name>
        <label>Create Task for Reviewing Manager</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Approval_Stage_Picklist_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ReviewManagerTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.Reviewing_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ReviewManagerTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Certifier_User</name>
        <label>Get Certifier User</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApproveButton</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ddalt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assessor_Approval_Stamps</name>
        <label>Assessor Approval Stamps</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Task_for_Certifier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_Visit_approved_by_inspector__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Certifier_Approval_Stamps</name>
        <label>Certifier Approval Stamps</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Task_for_Reviewing_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_Visit_Approved_By_Certifier__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Office_Approval_Stamps</name>
        <label>Office Approval Stamps</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Task_for_Inspector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_Visit_Approved_By_Office__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Stage_Picklist_Approved</name>
        <label>Update Approval Stage Picklist (Approved)</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>CompleteApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Stage_Picklist_Pending_Certifier_Approval</name>
        <label>Update Approval Stage Picklist (Pending Certifier Approval)</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>CompleteApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Approval_Status__c</field>
            <value>
                <stringValue>Pending Certifier Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Stage_Picklist_Pending_Inspector_Approval</name>
        <label>Update Approval Stage Picklist (Pending Inspector Approval)</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>CompleteApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Approval_Status__c</field>
            <value>
                <stringValue>Pending Inspector Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ApproveButton</name>
        <label>Screen 1 - Approval Button</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <fields>
            <name>ApproveRecordScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px; color: rgb(247, 62, 41);&quot;&gt;Application Requires Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompleteApproval</name>
        <label>ApprovalComplete</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ApproveRecordScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 88, 165);&quot;&gt;Application  Approval Complete&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RefreshPageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please refresh the page to see your changes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Approval</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 2 - All Documentation</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UserType</targetReference>
        </connector>
        <fields>
            <name>DocumentationLinks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Approve Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I confirm I have accessed and approve of the following documentation:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InternalUnannouncedVisitReport</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Internal Unannounced Visit Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Communications__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AssessmentReport</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assessment Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Report__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EvidenceURL</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Evidence__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Evidence</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AccountManagerText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 87, 36);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Account Manager for this Site is &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 87, 36);&quot;&gt;{!recordId.Site__r.Account_Manager__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(255, 87, 36);&quot;&gt;{!recordId.Site__r.Account_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllocatedAssessorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Allocated Inspector for this Additional visit is &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 87, 36);&quot;&gt;{!recordId.Allocated_Inspector__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 87, 36); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Allocated_Inspector__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewManager</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Reviewing Manager for this Additional Visit is &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(255, 87, 36);&quot;&gt;{!recordId.Reviewing_Manager__r.FirstName} {!recordId.Reviewing_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>I Have Read All Documentation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UserType</name>
        <label>Screen 3 - User Role</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Who_Approved_Record</targetReference>
        </connector>
        <fields>
            <name>I_am_a</name>
            <choiceReferences>Office</choiceReferences>
            <choiceReferences>Inspector</choiceReferences>
            <choiceReferences>Certifier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>My Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Approve Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Certifier_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CertifierTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Additional Visit Application {!recordId.Name} has been approved by the Inspector {!recordId.Allocated_Inspector__r.FirstName}. and is now ready for your approval. Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>CertifierTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Certifier Approval Required: Additional Visit Application {!recordId.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>InspectorTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Additional Visit Application  {!recordId.Name} has been approved by the Reviewing Manager and is now ready for your approval. Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>InspectorTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Inspector Approval Required: Additional Visit Application {!recordId.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>ReviewManagerTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Additional Visit Application {!recordId.Name} has been approved by the Certifier {!$User.FirstName} {!$User.LastName} and is now to be marked as Complete.</text>
    </textTemplates>
    <textTemplates>
        <name>ReviewManagerTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Review Manager Action Required: Additional Visit Application {!recordId.Name}</text>
    </textTemplates>
    <variables>
        <description>Record ID of the record that triggers this flow</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
