unpackaged/main/default/flows/Approve_Application_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Complete_Assessor_Task</name>
        <label>Complete Assessor Task</label>
        <locationX>1238</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Get_Assessor_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assessor_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Certifier_Task</name>
        <label>Complete Certifier Task</label>
        <locationX>2734</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Get_Certifier_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Certifier_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assessor</name>
        <choiceText>Assessor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assessor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certifier</name>
        <choiceText>Certifier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certifier</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office</name>
        <choiceText>Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Certifier_Task_not_completed</name>
        <label>Certifier Task not completed</label>
        <locationX>2998</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Create_Task_for_MST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Completed_Certifier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certifier_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Certifier_Task</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evidence_Not_Required</name>
        <label>Evidence Not Required</label>
        <locationX>2140</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Screen_3_User_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Evidence_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserRole_Evidence_Not_Required</targetReference>
            </connector>
            <label>Not Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Assessor_already_signed_it</name>
        <label>Has Assessor already signed it?</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Task_for_Assessor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_signatures_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Evidence_Approved_By_Assessor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Evidence_Approved_By_Assessor_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_Task_for_Certifier</targetReference>
            </connector>
            <label>Yes - signatures exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RT_Renewal</name>
        <label>Is RT Renewal?</label>
        <locationX>2998</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Renewal_Certifier_Approval_Stamps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Certifier_Approval_Stamps</targetReference>
            </connector>
            <label>Renewal RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_not_completed</name>
        <label>Task not completed</label>
        <locationX>1502</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_Task_for_Certifier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assessor_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Assessor_Task</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_Approved_Record</name>
        <label>Who Approved Record?</label>
        <locationX>2140</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>CompleteApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OfficeSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>I_am_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Office</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_am_a1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Office</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Office_Approval_Stamps</targetReference>
            </connector>
            <label>Office</label>
        </rules>
        <rules>
            <name>AssessorSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>I_am_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assessor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_am_a1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assessor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessor_Approval_Stamps</targetReference>
            </connector>
            <label>Assessor</label>
        </rules>
        <rules>
            <name>CertifierSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>I_am_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Certifier</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_am_a1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Certifier</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certifier_Approval_Stamps</targetReference>
            </connector>
            <label>Certifier</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Certifier_User_id</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Certifier_User.Id}),{!$User.Id}, {!Get_Certifier_User.Id})</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Approve Application Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Application Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_for_Assessor</name>
        <label>Create Task for Assessor</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Approval_Stage_Picklist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AssessorTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.Assessor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AssessorTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Certifier</name>
        <label>Create Task for Certifier</label>
        <locationX>1502</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Update_Approval_Stage_Picklist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CertifierTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Certifier_User_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CertifierTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_MST</name>
        <label>Create Task for MST</label>
        <locationX>2998</locationX>
        <locationY>2102</locationY>
        <connector>
            <targetReference>CompleteApproval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>MSTTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.Site__r.Account_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>MSTTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Assessor_Task</name>
        <label>Get Assessor Task</label>
        <locationX>1502</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_not_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssessorTaskSubject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Certifier_Task</name>
        <label>Get Certifier Task</label>
        <locationX>2998</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Certifier_Task_not_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Certifier_User_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CertifierTaskSubject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Certifier_User</name>
        <label>Get Certifier User</label>
        <locationX>2140</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApproveButton</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ddalt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assessor_Approval_Stamps</name>
        <label>Assessor Approval Stamps</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Assessor_Task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assessment_Approved_By_Assessor_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Approved_By_Assessor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Approved_By_Assessor_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Approved_By_Assessor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Certifier_Approval_Stamps</name>
        <label>Certifier Approval Stamps</label>
        <locationX>2998</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Is_RT_Renewal</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Approved_By_Certifier_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Approved_By_Certifier__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Approved_By_Certifier_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Approved_By_Certifier__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Approved_By_Certifier_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Approved_By_Certifier__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Renewal_Certifier_Approval_Stamps</name>
        <label>Copy 1 of Renewal Certifier Approval Stamps</label>
        <locationX>2998</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Approval_Stage_Picklist_Approved</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_for_Renewal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Approval_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Approved_By_NSF__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Approval_Stage_Picklist</name>
        <label>Update Approval Stage Picklist (Pending Assessor Approval)</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>CompleteApproval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Approval_Status__c</field>
            <value>
                <stringValue>Pending Assessor Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Office_Approval_Stamps</name>
        <label>Office Approval Stamps</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Has_Assessor_already_signed_it</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Approved_By_Office_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Approved_By_Office__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Approved_By_Office_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Approved_By_Office__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Approved_By_Office_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Approved_By_Office__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Renewal_Certifier_Approval_Stamps</name>
        <label>Renewal Certifier Approval Stamps</label>
        <locationX>2734</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Copy_1_of_Renewal_Certifier_Approval_Stamps</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_for_Renewal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Approval_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Approved_By_NSF__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Stage_Picklist</name>
        <label>Update Approval Stage Picklist (Pending Certifier Approval)</label>
        <locationX>1502</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>CompleteApproval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Approval_Status__c</field>
            <value>
                <stringValue>Pending Certifier Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Stage_Picklist_Approved</name>
        <label>Update Approval Stage Picklist (Approved)</label>
        <locationX>2998</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_Certifier_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assessor_Task</name>
        <label>Update Assessor Task</label>
        <locationX>1238</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Create_Task_for_Certifier</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Assessor_Task</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Certifier_Task</name>
        <label>Update Certifier Task</label>
        <locationX>2734</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Create_Task_for_MST</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Certifier_Task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ApproveButton</name>
        <label>Screen 1 - Approval Button</label>
        <locationX>2140</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <fields>
            <name>ApproveRecordScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px; color: rgb(247, 62, 41);&quot;&gt;Application Requires Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompleteApproval</name>
        <label>ApprovalComplete</label>
        <locationX>2140</locationX>
        <locationY>2342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ApproveRecordScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 88, 165);&quot;&gt;Application  Approval Complete&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RefreshPageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please refresh the page to see your changes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Approval</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error_Message</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 2 - All Documentation</label>
        <locationX>2140</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evidence_Not_Required</targetReference>
        </connector>
        <fields>
            <name>DocumentationLinks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Approve Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I confirm I have accessed and approve of the following documentation:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CertificationRecordURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Certification Record</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Certification_Record__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AssessmentReport</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assessment Report</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Assessment_Checklist__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>WOA</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Welfare Outcome Assessment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Welfare_Outcome_Assessment__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.Welfare_Outcome_Assessment__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AssessmentChecklist</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Assessment_Checklist__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assessment Checklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EvidenceURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Evidence__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Evidence</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ExtensionRequest</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Extension Request</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Extension_Request__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.Extension_Request__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountManagerText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 87, 36);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Account Manager for this Site is &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 87, 36);&quot;&gt;{!recordId.Site__r.Account_Manager__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(255, 87, 36);&quot;&gt;{!recordId.Site__r.Account_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllocatedAssessorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Allocated Assessor for this Application is &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 87, 36);&quot;&gt;{!recordId.Assessor__r.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 87, 36); font-size: 14px;&quot;&gt;{!recordId.Assessor__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>I Have Read All Documentation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3_User_Role</name>
        <label>Screen 3 - User Role</label>
        <locationX>2272</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Who_Approved_Record</targetReference>
        </connector>
        <fields>
            <name>I_am_a1</name>
            <choiceReferences>Office</choiceReferences>
            <choiceReferences>Assessor</choiceReferences>
            <choiceReferences>Certifier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>My Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Approve Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UserRole_Evidence_Not_Required</name>
        <label>Screen 3 - User Role</label>
        <locationX>2008</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Who_Approved_Record</targetReference>
        </connector>
        <fields>
            <name>I_am_a</name>
            <choiceReferences>Office</choiceReferences>
            <choiceReferences>Certifier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>My Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Approve Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2014</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Certifier_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AssessorTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!recordId.Application_Type__c} Application {!recordId.Name} has been approved by Office user {!$User.FirstName} {!$User.LastName} and is now ready for your approval. Thank you.

Date of Assessment: {!recordId.Assessment_Date__c}
Name of Site: {!recordId.Site_Name__c}
Membership Number: {!recordId.Membership_Number__c}</text>
    </textTemplates>
    <textTemplates>
        <name>AssessorTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Assessor Approval Required: {!recordId.Application_Type__c} Application {!recordId.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CertifierTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!recordId.Application_Type__c} Application {!recordId.Name} has been approved by the Assessor {!recordId.Assessor__r.FirstName} {!recordId.Assessor__r.LastName} and is now ready for your approval. Thank you.

Date of Assessment: {!recordId.Assessment_Date__c}
Name of Site: {!recordId.Site_Name__c}
Membership Number: {!recordId.Membership_Number__c}</text>
    </textTemplates>
    <textTemplates>
        <name>CertifierTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Certifier Approval Required: {!recordId.Application_Type__c} Application {!recordId.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>MSTTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!recordId.Application_Type__c} Application {!recordId.Name} has been approved by the Certifier {!$User.FirstName} {!$User.LastName} and is now ready to be marked as Complete.

Date of Assessment: {!recordId.Assessment_Date__c}
Name of Site: {!recordId.Site_Name__c}
Membership Number: {!recordId.Membership_Number__c}</text>
    </textTemplates>
    <textTemplates>
        <name>MSTTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Office Action Required: {!recordId.Application_Type__c} Application {!recordId.Name}</text>
    </textTemplates>
    <variables>
        <description>Record ID of the record that triggers this flow</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
