unpackaged/main/default/flows/Cancel_Application_After_12_Weeks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Application_after_12_weeks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TwelveWeeksAgoDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application</targetReference>
            </connector>
            <label>New Application after 12 weeks</label>
        </rules>
    </decisions>
    <formulas>
        <description>Date value 12 weeks before today.</description>
        <name>TwelveWeeksAgoDate</name>
        <dataType>Date</dataType>
        <expression>Today()-84</expression>
    </formulas>
    <interviewLabel>Cancel Application After 12 Weeks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Application After 12 Weeks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>X12_weeks_without_assessment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Certification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-13</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
