unpackaged/main/default/flows/Checklist_Template_Standard_Before_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Previous_Standard</name>
        <label>Set Previous Standard</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Standard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Standard_changed</name>
        <label>Is Standard changed</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_Standard</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Checklist Template Standard Before Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checklist Template Standard Before Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Standard_changed</targetReference>
        </connector>
        <object>Checklist_Template_Standard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
