unpackaged/main/default/flows/Opportunity_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Stage_Changed</name>
        <label>Stage Changed</label>
        <locationX>1106</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Identification_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Identification_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Identification Stage</label>
        </rules>
        <rules>
            <name>Qualification_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Qualification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Qualification Stage</label>
        </rules>
        <rules>
            <name>Planning_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Planning</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Planning Stage</label>
        </rules>
        <rules>
            <name>Approach_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Approach</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approach Stage</label>
        </rules>
        <rules>
            <name>Cultivation_Discovery_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cultivation / Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Cultivation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cultivation / Discovery Stage</label>
        </rules>
        <rules>
            <name>Engagement_Proposal_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engagement / Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Engagement_Proposal</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Engagement / Proposal Stage</label>
        </rules>
        <rules>
            <name>Commitment_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Commitment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Commitment Stage</label>
        </rules>
        <rules>
            <name>Stewardship_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stewardship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Stewardship</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stewardship Stage</label>
        </rules>
    </decisions>
    <description>Used to datestamp Stage date fields</description>
    <formulas>
        <description>Formula which returns today&#39;s date</description>
        <name>TodayDatestamp</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stage_Approach</name>
        <label>Stage = Approach</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SRM_PP_Approach_Start_Date__c</field>
            <value>
                <elementReference>TodayDatestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Commitment</name>
        <label>Stage = Commitment</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SRM_PP_Commitment_Start_Date__c</field>
            <value>
                <elementReference>TodayDatestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Cultivation</name>
        <label>Stage = Cultivation / Discovery</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SRM_PP_Cultivation_Discovery_Start_Date__c</field>
            <value>
                <elementReference>TodayDatestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Engagement_Proposal</name>
        <label>Stage = Engagement/Proposal</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SRM_PP_Engagement_Proposal_Start_Date__c</field>
            <value>
                <elementReference>TodayDatestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Identification_0</name>
        <label>Stage = Identification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SRM_PP_Identification_Start_Date__c</field>
            <value>
                <elementReference>TodayDatestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Planning</name>
        <label>Stage = Planning</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SRM_PP_Planning_Start_Date__c</field>
            <value>
                <elementReference>TodayDatestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Qualification</name>
        <label>Stage = Qualification</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SRM_PP_Qualification_Start_Date__c</field>
            <value>
                <elementReference>TodayDatestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Stewardship</name>
        <label>Stage = Stewardship</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SRM_PP_Stewardship_Start_Date__c</field>
            <value>
                <elementReference>TodayDatestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120D000000ADFSQA4</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
