unpackaged/main/default/flows/Opportunity_After_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Populate_the_Intacct_Entity</name>
        <label>Populate the Intacct Entity</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.ia_crm__Intacct_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Legal_Entity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Term_Data_Retrieved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_the_Intacct_Term</name>
        <label>Populate the Intacct Term</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.ia_crm__Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Payment_Term.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entity_Data_Retrieved</name>
        <label>Entity Data Retrieved</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Term_Data_Retrieved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Intacct_Entity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Legal_Entity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_the_Intacct_Entity</targetReference>
            </connector>
            <label>Default Intacct Entity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Term_Data_Retrieved</name>
        <label>Term Data Retrieved</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Update_the_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Payment_Terms_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Payment_Term</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_the_Intacct_Term</targetReference>
            </connector>
            <label>Default Payment Terms Found</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity After Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Legal_Entity</name>
        <label>Find Legal Entity</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Payment_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Freedom Food Limited</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ia_crm__Intacct_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Payment_Term</name>
        <label>Find Payment Term</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entity_Data_Retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Net 30</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ia_crm__AR_Terms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_opportunity</name>
        <label>Update the opportunity</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Legal_Entity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
