unpackaged/main/default/flows/Opportunity_Product_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Department_Found</name>
        <label>Department Found</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Department</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Department_on_Opp_Product</targetReference>
            </connector>
            <label>Found Department</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intacct_Entity_Found</name>
        <label>Intacct Entity Found</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Department</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Intacct_Entity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Legal_Entity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Location_on_Opportunity_Product</targetReference>
            </connector>
            <label>Default Intacct Entity Found</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Product After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Legal_Entity</name>
        <label>Find Legal Entity</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intacct_Entity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Freedom Food Limited</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ia_crm__Intacct_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Department</name>
        <label>Get Department</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Department_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ia_crm__Department_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>D-15</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ia_crm__Department__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Department_on_Opp_Product</name>
        <label>Update Department on Opp Product</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>ia_crm__Department__c</field>
            <value>
                <elementReference>Get_Department.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location_on_Opportunity_Product</name>
        <label>Update Location on Opportunity Product</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Department</targetReference>
        </connector>
        <inputAssignments>
            <field>ia_crm__Intacct_Location__c</field>
            <value>
                <elementReference>Find_Legal_Entity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Legal_Entity</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
